includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    # The level 9 is the highest level
    level: 9

    paths:
        - app
        - bootstrap
        - database
        - routes
        - tests

    excludePaths:
        - database/factories/**.php
        - routes/console.php

    checkModelProperties: true
    checkPhpDocMissingReturn: true
    checkUnusedViews: true
